h5 tree-map-directive template (width: {{ vis.width }}, height: {{ vis.height }})
// viewBox='x y w h'
svg(ng-attr-viewBox='{{ vis.x }} {{ vis.y }} {{ vis.width }} {{ vis.height }}')
  g.tree-map-group(ng-repeat='node in vis.nodes')
    g.cell(transform='translate({{ node.x }}, {{ node.y }})')
      rect(ng-attr-width='{{ node.dx }}', ng-attr-height='{{ node.dy }}', ng-style='rectStyle(node)')
      text(x='{{ node.dx/2 }}', y='{{ node.dy/2 }}', dy='0.35em', text-anchor='middle')
        | {{ node.children ? null : node.name }}



