h3 tree map directive template
h5 width: {{ vis.width }}, height: {{ vis.height }}
svg(
  ng-attr-width='{{ vis.width }}'
  ng-attr-height='{{ vis.height }}'
)
  g.tree-map-group(ng-repeat='node in vis.nodes')
    g.cell(transform='translate({{ node.x }}, {{ node.y }})')
      rect(ng-attr-width='{{ node.dx }}', ng-attr-height='{{ node.dy }}', ng-style='rectStyle(node)')
      text(x='{{ node.dx/2 }}', y='{{ node.dy/2 }}', dy='0.35em', text-anchor='middle')
        | {{ node.children ? null : node.name }}



