doctype html
meta(charset='utf-8')
html(ng-app='test')
  head
    - if(ENV.NODE_ENV == 'development')
      script(src="//localhost:35729/livereload.js")
    - for src in VENDOR_SRC
      script(type='text/javascript', src=src)
    - for src in JS_SRC()
      script(type='text/javascript', src=src)
    - for src in VENDOR_CSS_SRC()
      link(rel='stylesheet', href=src)
    - for src in CSS_SRC()
      link(rel='stylesheet', href=src)
  body
    .container
      nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#foo')
            span.sr-only toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#/home') test web
        .collapse.navbar-collapse
          ul.nav.navbar-nav
            li(ng-class="{ active: $state.includes('home') }")
              a(ui-sref='home') home
            li(ng-class="{ active: $state.includes('tree-map-1') }")
              a(ui-sref='tree-map-1') tree map 1
            li(ng-class="{ active: $state.includes('tree-map-2') }")
              a(ui-sref='tree-map-2') tree map 2
            li(ng-class="{ active: $state.includes('simple-1') }")
              a(ui-sref='simple-1') simple 1

      .fade(flash-alert, active-class="in alert")
        strong.alert-heading {{flash.type}}
        span.alert-message {{flash.message}}

      div.view(ui-view)
